{{#if id}}
<ul>
    <li>
        <span>id: </span>
        <span>{{id}}</span>
    </li>
    <li>
        <span>name: </span>
        <span>{{name}}</span>
    </li>
    <li>
        <span>path: </span>
        <span>{{path}}</span>
    </li>
    <li>
        <span>size: </span>
        <span>{{size}}</span>
    </li>
    <li>
        <span>type: </span>
        <span>{{type}}</span>
    </li>
    <li>
        <span>savedate: </span>
        <span>{{time}}</span>
    </li>
</ul>
{{/if}}