<link rel="stylesheet" href="/scss/Content/FileEditor/ImageEditor.css" />
<div class="container" id="image-editor">
  <div class="nav">
    <div class="nav-item">
      <button class="btn btn-link" id="save-file">
        <i class="fa-solid fa-floppy-disk"></i>
      </button>
    </div>
    <div class="nav-item">
      <button class="btn btn-link" id="filter-button">
        Show filters
      </button>
    </div>
    <div class="nav-item">
      <button class="btn btn-link" id="cancel-file">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
  <div id="editor">
    <aside>
      <ul>
        {{#each context.filters}}
          <li class="filter-image" data-filter="{{this}}">
            <img
              src="data:image/png;base64, {{../context.data}}"
              alt=""
              srcset=""
              style="filter: {{this}};"
            />
          </li>
        {{/each}}

      </ul>
    </aside>
    <div id="image">
      <img
        id="preview"
        src="data:image/png;base64, {{context.data}}"
        alt=""
        srcset=""
      />
      <canvas id="output"></canvas>
    </div>
    <img
      id="source"
      src="data:image/png;base64, {{context.data}}"
      alt=""
      srcset=""
    />
  </div>

</div>
<script>
  var path = "{{context.path}}" ? "{{context.path}}" : ""; var file = "{{context.file}}";
</script>
<script src="/js/build/ImageEditor.js" type="module">
</script>